body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.feature-image img {
  font-size: 14px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  padding: 15px 73px;
}

.main-menu ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.main-menu li{
  width: 20%;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2){
  float: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4){
  float: right;

  text-align: right;
}

.main-menu-logo{
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.logo {
  height: 508px;
  padding-top: 76px;
  box-sizing: border-box;

  text-align: center;
}

.introduction {
  padding-top: 61px;
  padding-bottom:  51px;
}

.introduction h1 {
  width: 440px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.introduction p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;

  text-align: center;
}

.feature-pictured-right .feature-text{
  float: left;
  width: 400px;

  text-align: center;
}

.feature-pictured-right .feature-image{
  float: right;
  width: 800px;
}

.feature-image{
  position: relative;
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.feature-image img {
  position: relative;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}

.subfeature{
  float: left;
  width: 400px;
  padding-top: 160px;
  padding-bottom: 82px;

  text-align: center;
}

.subfeature h2 {
  margin-top: 0px;
  margin-bottom: 25px;
}

.subfeature p {
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 21px;
}

.feature-pictured-left .feature-image{
  float: left;
  width: 800px;
}

.feature-pictured-left .feature-text{
  float: right;
  width: 400px;

  text-align: center;
}

.feature-non-pictured {
  float: left;
  width: 400px;
  min-height: 256px;
  padding-top: 50px;
  padding-bottom: 64px;
  box-sizing: border-box;

  text-align: center;

  background-color: #eeeeee;
}

.booking {
  position: relative;
}

.booking-introduction {
  padding-top: 58px;
  padding-bottom: 136px;
}

.booking-introduction h2 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
}

.booking-introduction p {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;

  text-align: center;
}

.booking-form {
  display: none;
  position: absolute;
  left: 316px;
  top: 206px;

  width: 568px;
  height: 480px;
}

.booking-map {
  height: 593px;

  background: #f2f1ef url("../img/map.jpg");
}

.main-footer {
  min-height: 120px;
  margin-top: 40px;
}

.stratify {
  transform: translateY(-100%);
  background: rgba(255, 255, 255, 0.9);
}

.hashtags {
  float: left;
  margin-left: 134px;
  margin-right: 300px;
}

.socials {
  float: left;
}

.copyright {
  float: right;
  margin-right: 102px;
}

.filter {
  min-height: 176px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.filter fieldset {
  float: left;
  width: 241px;
}

.filter fieldset:last-child {
  float: right;
  width: 328px;
}

.sort {
  min-height: 87px;
}

.sort ul {
  display: inline-block;

  list-style-type: none;
}

.sort li {
  float: left;
}

.hotel{
  padding-top: 31px;
  padding-bottom: 23px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-image {
  float: left;
  margin-right: 30px;
}

.hotel-parameters {
  float: left;
}

.hotel-parameters h3 {
  margin: 0px;
}

.hotel-rating {
  float: right;
}
