body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: black;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}

.feature-image img {
  font-size: 14px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header {
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 73px;
  padding-right: 73px;
}

.main-menu ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.main-menu li{
  width: 23%;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2){
  float: left;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4){
  float: right;

  text-align: right;
}

.main-menu a {
  text-decoration: none;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #766357;
}

.main-menu a.active {
  color: #766357;
}

.main-menu a.active:hover {
  color: #604e43;
}

.main-menu a.active:active {
  color: #d6d0cc;
}

.main-menu-logo{
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.logo {
  height: 508px;
  padding-top: 76px;
  box-sizing: border-box;

  background-color: #8bbad7;
  background-image:
    url("../img/background-shape.png"),
    url("../img/background.jpg");
  background-position:
    50% 100%,
    0% 21%;
  background-repeat:
    no-repeat,
    no-repeat;

  text-align: center;
}

.introduction {
  padding-top: 58px;
  padding-bottom:  55px;
}

.introduction h1 {
  width: 440px;
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.introduction p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  text-align: center;
}

.feature-pictured-right,
.feature-pictured-left {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-pictured-text {
  padding: 53px 48px;
  width: 304px;

  text-align: center;
}

.feature-pictured-text h2 {
  width: 160px;
  margin: 0 auto;
  color: white;
}

.feature-pictured-text b {
  display: block;
  margin-top: 24px;
  margin-bottom: 21px;
  font-weight: normal;
}

.feature-pictured-text p {
  margin: 0;
}

.feature-pictured-right .feature-pictured-text{
  float: left;
}

.feature-pictured-right .feature-image{
  float: right;
  width: 800px;
}

.feature-image{
  position: relative;
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.feature-image img {
  position: relative;
  top: 48%;
  display: block;
  transform: translateY(-50%);
}

.subfeature{
  position: relative;
  float: left;
  width: 400px;
  padding-top: 160px;
  padding-bottom: 82px;

  text-align: center;
}

.subfeature::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 160px;
}

.subfeature-housing::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -2%);

  width: 75px;
  height: 72px;

  background: url("../img/sprite.png") -10px -147px no-repeat;
}

.subfeature-food::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 74px;
  height: 70px;

  background: url("../img/sprite.png") -10px -229px no-repeat;
}

.subfeature-gifts::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -7%);

  width: 64px;
  height: 76px;

  background: url("../img/sprite.png") -10px -309px no-repeat;
}

.subfeature h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.subfeature p {
  margin: 0;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

.feature-pictured-left .feature-image{
  float: left;
  width: 800px;
}

.feature-pictured-left .feature-pictured-text{
  float: right;
}

.feature-non-pictured {
  float: left;
  width: 400px;

  background-color: #eeeeee;
}

.feature-non-pictured-text {
  padding-top: 46px;
  padding-bottom: 60px;

  text-align: center;
}

.feature-non-pictured-text h2 {
  margin: 0 auto;
  width: 130px;
}

.feature-non-pictured-text b {
  display: block;
  margin-top: 24px;
  margin-bottom: 22px;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

.feature-non-pictured-text p {
  width: 270px;
  margin: 0 auto;
}

.booking {
  position: relative;
}

.booking-introduction {
  padding-top: 46px;
  padding-bottom: 48px;
  padding-left: 0;
  padding-right: 0;
}

.booking-introduction h2 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 40px;

  text-align: center;
}

.booking-introduction p {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  line-height: 24px;

  text-align: center;
}

.search-btn {
  position: relative;
  z-index: 6;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 32px;

  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: white;
  text-decoration: none;
  font-weight: bold;

  background: #766357;
}

.booking-form {
  position: absolute;
  z-index: 5;
  left: 316px;
  top: 100%;

  width: 568px;

  background: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form form {
  padding: 54px 55px;

}

.booking-form .field {
  margin-bottom: 28px;

  font-size: 0;
}

.booking-form .field:last-of-type {
  margin-top: 31px;
}

.half-field {
  display: inline-block;
  width: 50%;
}

.half-field:first-child {
  float: left;
}

.half-field:last-child {
  float: right;
}

.input-container {
  position: relative;
  float: right;
}

.input-container span {
  position: absolute;

  display: inline-block;
  padding: 6px 0;


  line-height: 26px;
  font-family: "symbols-sedona";

  cursor: pointer;
}

.input-container span.icon-calendar {
  right: 6px;
  top: 2px;

  font-size: 21px;
}

.input-container span.icon-minus {
  left: 12px;
  top: 3px;

  font-size: 14px;
}

.input-container span.icon-plus {
  right: 10px;
  top: 2px;

  font-size: 14px;
}

.booking-form label {
  display: inline-block;
  float: left;
  width: 95px;
  box-sizing: border-box;

  padding-top: 7px;

  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: bold;
}

.booking-form input {
  display: inline-block;
  width: 346px;
  height: 38px;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;

  background: #f2f2f2;
  border: none;
}

.booking-form input:hover {
  background: #ebebeb;
}

.booking-form input:focus {
  background: white;
  outline: 2px solid #e5e5e5;
}

.booking-form input[type="text"] {
  box-sizing: border-box;
  padding-left: 15px;
}

.booking-form input[type="number"] {
  width: 118px;

  text-align: center;
}

.children-count-label {
  text-align: right;
  padding-right: 6px;
}

.booking-btn {
  margin-top: 24px;
  width: 458px;
  padding: 16px;

  font-size: 21px;
  line-height: 26px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.booking-btn:hover {
  background-color: #669ec0;
}

.booking-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.booking-map {
  height: 593px;

  background: #f2f1ef url("../img/map.jpg");
}

.main-footer {
  padding-top: 37px;
  padding-bottom: 36px;
}

.footer-stratify {
  position: relative;
  z-index: 1;
  margin-top:-120px;
  background: rgba(255, 255, 255, 0.9);
}

.hashtags {
  float: left;
  width: 33.3%;
  padding-top: 7px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.socials {
  float: left;
  width: 33.3%;

  text-align: center;
  font-size: 0;
}

.social {
  display: inline-block;
  width: 44px;
  height: 46px;
  margin-right: 8px;

  vertical-align: bottom;
  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.social:first-child {
  margin-left: 8px;
}

.social:hover {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.social span {
  display: inline-block;
  width: 100%;

  padding: 14px 0;

  font-size: 19px;
  line-height: 20px;
  font-family: "symbols-sedona";
}

.social span:active {
  opacity: 0.3;
}

.social .icon-youtube {
  padding: 13px 0;

  font-size: 23px;
}

.copyright {
  float: right;
  width: 33.3%;
  padding-top: 2px;

  text-align: center
}

.copyright a {
  display: inline-block;
  height: 39px;
  padding-left: 10px;
  padding-right: 130px;
  vertical-align: top;

  text-decoration: none;
  color: black;
  line-height: 26px;
  vertical-align: middle;

  background: url("../img/sprite.png") 100% -98px no-repeat;
}

.copyright a:hover {
  background: url("../img/sprite.png") 100% -49px no-repeat;
}

.copyright a:active {
  background: url("../img/sprite.png") 100% -0px no-repeat;
}

.copyright a span {
  font-size: 0;
}

.filter {
  padding-top: 28px;
  padding-bottom: 20px;
  padding-left: 62px;
  padding-right: 73px;

  color: #ffffff;
  background: #497da9 url("../img/filter-background.jpg") 0% 16% no-repeat;
}

.filter legend {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter fieldset:last-child legend {
  padding-left: 4px;
  margin-bottom: 9px;
}

.filter fieldset {
  float: left;
  width: 238px;
  margin: 0;
  border: none;
}

.filter fieldset:last-child {
  float: right;
  width: 328px;
  padding: 0;
}

.filter-field input[type="checkbox"] {
  display: none;
}

.filter-field input[type="checkbox"] + label {
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.filter-field input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 26px;

  font-family: "symbols-sedona";
  font-size: 26px;
}

.filter-field input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}

.filter-field input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.filter-field input[type="checkbox"]:checked:disabled + label::before {
  color: #6a6a6a;
}

.filter-field {
  display: block;
  margin-bottom: 25px;
}

.filter-field:last-child {
  margin-bottom: 0;
}

.price-ranges {
  position: relative;
  box-sizing: border-box;
  width: 318px;
  padding: 4px 15px;
  margin-left: 14px;
  margin-bottom: 20px;

  border: 2px solid white;
  border-radius: 2px;
  background: url("../img/range-border.jpg") 50%  4px no-repeat;
}

.price-ranges::before {
  content: "";

  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: white;
}

.price-ranges label {
  margin-left: 52px;
}

.price-ranges label:last-of-type {
  margin-left: 70px;
}

.price-ranges input {
  display: inline;
  width: 50px;

  color: white;

  background: transparent;
  border: none;
}

.filter-slider {
  position: relative;

  margin-left: 26px;
}

.bar {
  position: absolute;
  overflow: hidden;

  width: 308px;
  height: 2px;

  background-color: #6c5c5b;
}

.active-bar {
  position: absolute;
  left: -50px;

  width: 308px;
  height: 2px;

  background-color: #fbfbfb;
}

.slide {
  position: absolute;
  top: -9px;

  width: 22px;
  height: 22px;

  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 1, 0.14);

  cursor: pointer;
}

.slide::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 4px;
  height: 4px;

  background: #ababab;
  border-radius: 50%;
}

.slide:hover::before {
  background: #1c4f80;
}

.first-slide {
  left: -11px;
}

.second-slide {
  right: 44px;
}

.filter .btn {
  display: block;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 33px;

  text-transform: uppercase;
  color: white;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 24px;
}

.sort b {
  float: left;
  width: 160px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 21px;
  line-height: 26px;
  color: black;
}

.sort > span {
  float: left;
  margin-left: 2px;
  padding-top: 7px;

  font-size: 12px;
  line-height: 18px;

  color: black;
}

.sort .sort-type {
  float: left;
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;

  list-style-type: none;
}

.sort-type li {
  float: left;
  width: 82px;
}

.sort-type a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a.active-sort {
  opacity: 1;
  color: #81b3d2;
  border-bottom: none;
}

.sort .sort-order {
  float: right;
  width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;

  list-style-type: none;
  font-size: 0;
}

.sort-order li {
  float: right;
  width: 22px;

  text-align: right;
}

.sort-order a {
  font-size: 23px;
  line-height: 20px;
  text-decoration: none;

  color: #cccccc;
}

.sort-order a:before {
  margin: 0;
  width: auto;
}

.sort-order .active-sort {
  color: #81b3d2;
}

.hotel{
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 73px;
  padding-right: 73px;

  border-top: 1px solid #e5e5e5;
}

.hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  float: left;
  width: 135px;
  margin-left: 0;
  margin-right: 30px;
}

.hotel-image img {
  display: block;
}

.hotel-parameters {
  float: left;
  width: 280px;
  padding-top: 8px;
}

.hotel-parameters h3 {
  margin: 0;
  margin-bottom: 8px;

  font-size: 21px;
  line-height: 26px;
}

.hotel-parameters h3 a {
  color: black;
  text-decoration: none;
}

.hotel-parameters h3 a:hover {
  color: #81b3d2;
}

.hotel-parameters h3 a:active {
  color: #cacaca;
}

.hotel-parameters strong {
  display: block;
  margin-bottom: 15px;

  font-weight: normal;
}

.hotel-parameters-left {
  display: inline-block;
  margin-right: 3px;
}

.hotel-parameters-right {
  display: inline-block;
}

.hotel-button {
  display: inline-block;
  padding: 3px 16px;

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;

  text-decoration: none;
}

.hotel-about {
  background-color: #81b3d2;
}

.hotel-about:hover {
  background-color: #669ec0;
}

.hotel-about:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.hotel-book {
  background-color: #766357;
}

.hotel-book:hover {
  background-color: #604e43;
}

.hotel-book:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-rating {
  float: right;
  width: 120px;
  margin-top: 12px;

  text-align: right;
}

.rating-stars {
  margin: 0;
  margin-bottom: 35px;

  font-size: 0;
  text-align: right;
}

.rating-stars .icon-star {
  padding-left: 0;
  padding-right: 0;

  font-size: 19px;
  color: #81b3d2;
}

.rating-stars .icon-star::before{
  margin-left: 1;
  margin-right: 0;
}

.hotel-rating strong {
  display: inline-block;
  padding: 5px 13px;

  font-weight: normal;
  color: #666666;

  background-color: #f2f2f2;
}
